Argonne2021/nodered/package.json
{
   "id":"7cfed85b.6c3ba8",
   "type":"inject",
   "z":"f361ffeb.71386",
   "name":"SDR_all_sys_realtime",
   "props":[
      {
         "p":"payload"
      }
   ],
   "repeat":"60",
   "crontab":"",
   "once":false,
   "onceDelay":0.1,
   "topic":"",
   "payload":"{\"start\":\"-1m\",\"filter\":{\"name\":\"sys.*\"}}",
   "payloadType":"json",
   "x":170,
   "y":800,
   "wires":[
      [
         "2a2de514.d913ba"
      ]
   ]
},
{
   "id":"2a2de514.d913ba",
   "type":"http request",
   "z":"f361ffeb.71386",
   "name":"Sage Data Repository",
   "method":"GET",
   "ret":"txt",
   "paytoqs":"body",
   "url":"https://sdr.sagecontinuum.org/api/v1/query",
   "tls":"",
   "persist":true,
   "proxy":"",
   "authType":"basic",
   "x":350,
   "y":840,
   "wires":[
      [
         "679c1c63.367874"
      ]
   ]
},
{
   "id":"679c1c63.367874",
   "type":"debug",
   "z":"f361ffeb.71386",
   "name":"Object_complete msg",
   "active":true,
   "tosidebar":true,
   "console":false,
   "tostatus":false,
   "complete":"true",
   "targetType":"full",
   "statusVal":"",
   "statusType":"auto",
   "x":580,
   "y":800,
   "wires":[
      
   ]
},
{
   "id":"ece21b42.baa7c8",
   "type":"comment",
   "z":"f361ffeb.71386",
   "name":"All measurements with sys in the last 1 minute with real time data every 1 minute",
   "info":"The following query will return all measurements with a name starting with sys in the 1 minute.\nIt will return object from SDR (complete msg object in the debug node), but the payload is still string.\nAlso, it gets data from SDR every 1 minute in real time.\n\n- Reference\nhttps://github.com/waggle-sensor/waggle-beehive-v2/blob/main/docs/querying-measurements.md",
   "x":330,
   "y":760,
   "wires":[
      
   ]
}
